In [1]:
# Importing pandas library
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
# Creating sample data 
df = pd.DataFrame({"Number of Events": [1, 2, 3, 4], "Country": ['Belgium', 'Italy', 'France', 'Armenia']})

In [3]:
# Creating a new column using lambda function
df['Total Events'] = (df['Number of Events'] * 10)

In [4]:
# Viewing df to check column was added
df

   Number of Events  Country  Total Events
0                 1  Belgium            10
1                 2    Italy            20
2                 3   France            30
3                 4  Armenia            40

In [5]:
# Create a flag column using a lambda function based on country name length
df['country name length'] = df['Country'].apply(lambda x: 1 if len(x) > 5 else 0)

In [6]:
# Viewing df to see flag column
df

   Number of Events  Country  Total Events  country name length
0                 1  Belgium            10                    1
1                 2    Italy            20                    0
2                 3   France            30                    1
3                 4  Armenia            40                    1